body {
  /*font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica,Arial, sans-serif;*/
  font-family: 'Muli', sans-serif;
}

.dataTables_processing {
  text-align: center;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #f4f4f4 !important;
  border-color: #ddd !important;
  color: #444 !important;
}

.pagination > li > a, .pagination > li > span {
  padding: 4px 8px !important;
}

.btn-success {
  color: #fff !important;
}

.img-crud {
  margin-bottom: 15px;
}

.text-ajust {
  display: table-cell;
  height: 45px;
  vertical-align: middle;
  white-space: normal !important;
}

.user-panel > .info {
  padding-top: 0 !important;
}

.description-box {
  padding: 13px;
  background-color: #fafafa;
  color: #454545;
}

blockquote {
  margin: 20px 0 !important;
}

.login-page, .register-page {
  background: #0069ff;
}

.login-logo, .register-logo {
  color: #fff;
}

.login-links {
  margin-top: 19px;
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
}

.login-links a {
  color: #0069ff !important;
}

abbr[title], abbr[data-original-title] {
  cursor: default !important;
  border: none !important;
}

/* theme override */

.content-wrapper, .right-side {
  background-color: #F3F4F5 !important;
}

.skin-black .main-header>.logo, .skin-black .main-header>.navbar>.sidebar-toggle, .skin-black .main-header>.navbar {
  background-color: #0069ff !important;
  color: #fff !important;
  border: none !important;
}

.skin-black .main-header>.navbar .navbar-custom-menu .navbar-nav>li>a, .skin-black .main-header>.navbar .navbar-right>li>a {
  background-color: none !important;
  border: none !important;
}

.skin-black .main-header>.navbar .navbar-custom-menu .navbar-nav>li>a, .skin-black .main-header>.navbar .navbar-right>li>a {
  border: none !important;
  color: #fff !important;
}

.skin-black .main-header>.navbar .nav>li>a:hover, .nav>li>a:focus, .nav>li>a:active {
  background: none !important;
  color: #fff !important;
}

.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
  background-color: #323232 !important;
}

.skin-black .sidebar-menu>li:hover>a, .skin-black .sidebar-menu>li.active>a {
  background-color: #2a2a2a !important;
}

button, input, optgroup, select, textarea {
  border-radius: 4px !important;
}

.btn-success {
  background-color: #15CD72 !important;
  border: none !important;
}

.profile-user-img {
  border: 2px solid #d2d6de !important;
}

.info-box-text {
  margin-top: 19px;
}

.info-box-content {
  padding-left: 21px;
}

.info-box {
  border-radius: 4px;
}

.info-box-icon {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.skin-black .sidebar a {
  color: #fff !important;
}

.login-box-body, .register-box-body {
  border-radius: 4px;
}

/* end theme override */

.bg-dark-gray {
  background-color: #646C7F;
  color: #fff;
}

.widget-user-header {
  background-image: url('img_background_profile.jpg');
  background-size: cover;
  background-position: center 260px;
}

td {
  line-height: 30px !important;
}

.post-title-btn {
  margin-right: 12px !important;
}

.checkbox {
  margin-top: 0;
  margin-left: -20px;
}

.img-contacts {
  max-width: 30px;
  margin: 0 auto;
}

.chat-placeholder {
  text-align: center;
  padding: 125px 0;
}

.chat-placeholder i {
  font-size: 100px;
  color: #eaeaea;
}

.no-border {
  border: none;
}

.no-radius-left {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.no-radius-right {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.badge-count-messages {
  margin-top: 8px;
}

.direct-chat-messages {
  height: 350px !important;
}

.contacts-container-list {
  max-height: 400px;
  overflow-y: scroll;
}

.info-classrooms, .info-classrooms-first {
  margin-top: 0px;
  text-transform: none !important;
  color: #767676;
}

.info-classrooms-first {
  margin-top: 11px !important;
}
